@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body, html {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
      "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
      monospace;
  }

  @keyframes colorTransition {
    0% {
      color: white; /* Initial color */
    }
    100% {
      color: yellow; /* Final color */
    }
  }
  
  .quick-guide {
    animation: colorTransition 2s infinite alternate; /* Use 'alternate' to reverse the animation direction */
  }

  .banner{
    background: url("./images/Banner.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  .btn-yellow{
    background-color: rgb(255, 175, 2);
  }

  .btn-yellow:hover{
    background-color: rgb(188, 153, 12);
}
  .btn-red{
    background-color: rgb(232, 0, 0);
  }

  .btn-red:hover{
    background-color: rgb(191, 15, 2);
}
  .btn-green{
    background-color: rgb(0, 232, 4);
  }

  .btn-green:hover{
    background-color: rgb(43, 191, 2);
}
  .btn-blue{
    background-color: rgb(37, 101, 239);
  }

  .btn-blue:hover{
    background-color: rgb(2, 30, 191);
}

.card-div{
  background: radial-gradient(circle at bottom, rgb(255, 231, 143), white 70%);
}
  

::-webkit-scrollbar {
  width: 5px; /* Adjust as needed */
}

/* Track */
::-webkit-scrollbar-track {
  background: #ffffff; /* Background color of the scrollbar track */
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ffc400; /* Color of the scrollbar handle */
  border-radius: 8px; /* Rounded corners */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; /* Change color on hover */
}

.slick-prev:before, .slick-next:before{
  color: black!important;
}